body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
}

.text-container{
    display: flex;
    justify-content: center;
}

span{
    margin: 3px;
    padding: 3px;
}

.win{
    color: rgb(24, 169, 24);
}

.loose{
    color: rgb(255, 43, 43);
}

.main-container{
    width: 250px;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    border-radius: 5px;
    color: #3cd5e6;
    background-color: #1d28a3bd;
    padding: 5px;
    font-size: 1.25rem;
}

.win-loose-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:3px;
    padding: 3px;
}

.reset{
    margin: 5px;
}